{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
        <p> C.V.C. Médicale is a public medical clinic.
            It opened in January of 2018 and is owned by a family doctor named Vincenzo Colavincenzo.
            If you wish to book an appointment, please move forward by creating an account. Otherwise, we accept walk-ins
            as well.
        <br>
<h1> Opening Hours </h1>
Sunday : CLOSED
<br>
Monday: CLOSED
<br>
Tuesday: 2pm to 9pm
<br>
Wednesday: 2pm to 9pm
<br>
Thursday: 2pm to 9pm
<br>
Friday: 2pm to 9pm
<br>
Saturday: 2pm to 9pm

        </p>

{% endblock content %}
